<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ACPI</key>
        <dict>
            <key>Add</key>
            <array>
                <dict>
                    <key>Comment</key>
                    <string></string>
                    <key>Enabled</key>
                    <true/>
                    <key>Path</key>
                    <string>Disable-GPU-Slot1.aml</string>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string></string>
                    <key>Enabled</key>
                    <false/>
                    <key>Path</key>
                    <string>gpu-spoof-navi21.aml</string>
                </dict>
                <dict>
                    <key>Comment</key>
                    <string></string>
                    <key>Enabled</key>
                    <true/>
                    <key>Path</key>
                    <string>gpu-spoof-baffin.aml</string>
                </dict>
            </array>
            <key>Delete</key>
            <array/>
            <key>Patch</key>
            <array>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>XHC1 to SHC1</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>WEhDMQ==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>U0hDMQ==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>EHC1 to EH01</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>RUhDMQ==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>RUgwMQ==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
                <dict>
                    <key>Base</key>
                    <string></string>
                    <key>BaseSkip</key>
                    <integer>0</integer>
                    <key>Comment</key>
                    <string>EHC2 to EH02</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>RUhDMg==</data>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>OemTableId</key>
                    <data></data>
                    <key>Replace</key>
                    <data>RUgwMg==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                    <key>TableLength</key>
                    <integer>0</integer>
                    <key>TableSignature</key>
                    <data></data>
                </dict>
            </array>
            <key>Quirks</key>
            <dict>
                <key>FadtEnableReset</key>
                <false/>
                <key>NormalizeHeaders</key>
                <false/>
                <key>RebaseRegions</key>
                <false/>
                <key>ResetHwSig</key>
                <false/>
                <key>ResetLogoStatus</key>
                <false/>
                <key>SyncTableIds</key>
                <false/>
            </dict>
        </dict>
    </dict>
</plist>
