<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Memory</key>
		<dict>
			<key>DataWidth</key>
			<integer>64</integer>
			<key>ErrorCorrection</key>
			<integer>5</integer>
			<key>FormFactor</key>
			<integer>9</integer>
			<key>MaxCapacity</key>
			<integer>274877906944</integer>
			<key>TotalWidth</key>
			<integer>72</integer>
			<key>Type</key>
			<integer>24</integer>
			<key>TypeDetail</key>
			<integer>2</integer>
			<key>Devices</key>
			<array>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM 1</string>
					<key>Manufacturer</key>
					<string>0x80AD</string>
					<key>PartNumber</key>
					<string>0x484D54333147523741465234432D48392020</string>
					<key>SerialNumber</key>
					<string>0x2571192D</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Speed</key>
					<integer>1066</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM 2</string>
					<key>Manufacturer</key>
					<string></string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM 3</string>
					<key>Manufacturer</key>
					<string>0x80AD</string>
					<key>PartNumber</key>
					<string>0x484D54333147523742465234412D50422020</string>
					<key>SerialNumber</key>
					<string>0xE61D2B78</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Speed</key>
					<integer>1066</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM 4</string>
					<key>Manufacturer</key>
					<string></string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM 5</string>
					<key>Manufacturer</key>
					<string>0x80AD</string>
					<key>PartNumber</key>
					<string>0x484D54333147523741465234432D48392020</string>
					<key>SerialNumber</key>
					<string>0x4E578A33</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Speed</key>
					<integer>1066</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM 6</string>
					<key>Manufacturer</key>
					<string></string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM 7</string>
					<key>Manufacturer</key>
					<string>0x80AD</string>
					<key>PartNumber</key>
					<string>0x484D54333147523742465234412D50422020</string>
					<key>SerialNumber</key>
					<string>0xE61D2B78</string>
					<key>Size</key>
					<integer>8192</integer>
					<key>Speed</key>
					<integer>1066</integer>
				</dict>
				<dict>
					<key>AssetTag</key>
					<string></string>
					<key>BankLocator</key>
					<string></string>
					<key>DeviceLocator</key>
					<string>DIMM 8</string>
					<key>Manufacturer</key>
					<string></string>
					<key>PartNumber</key>
					<string></string>
					<key>SerialNumber</key>
					<string></string>
					<key>Size</key>
					<integer>0</integer>
					<key>Speed</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
