<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>DeviceProperties</key>
        <dict>
            <key>Add</key>
            <dict>
                <key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
                <dict>
                    <key>AAPL,slot-name</key>
                    <string>Internal@0,1,0/0,0/2,0/0,0/0,0/0,0</string>
                    <key>PP,MM_EnableHEVCEncode</key>
                    <integer>0</integer>
                    <key>device_type</key>
                    <string>VGA compatible controller</string>
                    <key>disable-gpu</key>
                    <data>AQAAAA==</data>
                </dict>
                <key>PciRoot(0x0)/Pci(0x3,0x0)/Pci(0x0,0x0)</key>
                <dict>
                    <key>#disable-gpu</key>
                    <data>AQAAAA==</data>
                    <key>AAPL,slot-name</key>
                    <string>Internal@0,3,0/0,0</string>
                    <key>device_type</key>
                    <string>VGA compatible controller</string>
                    <key>model</key>
                    <string>G96C [GeForce 9500 GT]</string>
                </dict>
            </dict>
            <key>Delete</key>
            <dict/>
        </dict>
    </dict>
</plist>
