<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Kernel</key>
        <dict>
            <key>Add</key>
            <array>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>Lilu.kext</string>
                    <key>Comment</key>
                    <string>V1.6.2 | Patching Engine</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/Lilu</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>8.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>Any</string>
                    <key>BundlePath</key>
                    <string>NullCPUPowerManagement.kext</string>
                    <key>Comment</key>
                    <string>V1.0.0d2</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/NullCPUPowerManagement</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>IO80211ElCap.kext</string>
                    <key>Comment</key>
                    <string>V1110.26 | BCM94328 Wifi Patch</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/IO80211ElCap</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>16.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>IO80211ElCap.kext/Contents/PlugIns/AirPortAtheros40.kext</string>
                    <key>Comment</key>
                    <string>V700.74.5</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/AirPortAtheros40</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>IO80211ElCap.kext/Contents/PlugIns/AirPortBrcm4331.kext</string>
                    <key>Comment</key>
                    <string>V800.20.24</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/AirPortBrcm4331</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>IO80211ElCap.kext/Contents/PlugIns/AppleAirPortBrcm43224.kext</string>
                    <key>Comment</key>
                    <string>V700.36.24 | BCM94328 Wifi Patch</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/AppleAirPortBrcm43224</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>16.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>SMCRadeonGPU.kext</string>
                    <key>Comment</key>
                    <string>V0.3.1</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/SMCRadeonGPU</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>USB-Map.kext</string>
                    <key>Comment</key>
                    <string>V1.0</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string></string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>AppleALC.kext</string>
                    <key>Comment</key>
                    <string>V1.7.5 | AppleHDA Patching</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/AppleALC</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>18.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>WhateverGreen.kext</string>
                    <key>Comment</key>
                    <string>V1.6.1 | GPU Patching</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/WhateverGreen</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>10.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>RestrictEvents.kext</string>
                    <key>Comment</key>
                    <string>V1.0.8 | Process Blocker</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/RestrictEvents</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>12.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>AppleMCEReporterDisabler.kext</string>
                    <key>Comment</key>
                    <string>V1.2 | Dual Socket Patch</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string></string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>19.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>corecaptureElCap.kext</string>
                    <key>Comment</key>
                    <string>V1.0.4 | BCM94328 Wifi Patch</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/corecaptureElCap</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>16.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>CPUFriend.kext</string>
                    <key>Comment</key>
                    <string>V1.2.6 | CPUFriend - Patching X86PlatformPlugin</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/CPUFriend</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>15.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>CPUFriendDataProvider.kext</string>
                    <key>Comment</key>
                    <string>V1.0.0 | CPUFriendDataProvider - Data for CPU Friend</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string></string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>15.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>Bluetooth-Spoof.kext</string>
                    <key>Comment</key>
                    <string>V1.0 | Bluetooth Patch for BRCM2046 and BRCM2070</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string></string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>21.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>SMC-Spoof.kext</string>
                    <key>Comment</key>
                    <string>V1.0 | SMC Spoof</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string></string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>AGPM-Override.kext</string>
                    <key>Comment</key>
                    <string>V9.9.9 | AppleGraphicsPowerManagement Override</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string></string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>FeatureUnlock.kext</string>
                    <key>Comment</key>
                    <string>V1.0.9 | FeatureUnlock</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/FeatureUnlock</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>16.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>BlueToolFixup.kext</string>
                    <key>Comment</key>
                    <string>V2.6.4 | Fix Monterey Bluetooth</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/BlueToolFixup</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>21.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>ASPP-Override.kext</string>
                    <key>Comment</key>
                    <string>V9.9.9 | ACPI_SMC_PlatformPlugin Override</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string></string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>21.4.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>AutoPkgInstaller.kext</string>
                    <key>Comment</key>
                    <string>V1.0.0 | Chainload OpenCore-Patcher installation</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/AutoPkgInstaller</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>20.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>AMD9500Controller.kext</string>
                    <key>Comment</key>
                    <string>V4.0.6</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/AMD9500Controller</string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>20.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>10.13.6/AMD9500Controller.kext</string>
                    <key>Comment</key>
                    <string>V1.6.8</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string>Contents/MacOS/AMD9500Controller</string>
                    <key>MaxKernel</key>
                    <string>19.99</string>
                    <key>MinKernel</key>
                    <string>17.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>USBMap.kext</string>
                    <key>Comment</key>
                    <string>V1.0</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string></string>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>19.0.0</string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>BundlePath</key>
                    <string>USBMapLegacy.kext</string>
                    <key>Comment</key>
                    <string>V1.0</string>
                    <key>Enabled</key>
                    <true/>
                    <key>ExecutablePath</key>
                    <string></string>
                    <key>MaxKernel</key>
                    <string>18.99.99</string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>PlistPath</key>
                    <string>Contents/Info.plist</string>
                </dict>
            </array>
            <key>Block</key>
            <array/>
            <key>Emulate</key>
            <dict>
                <key>Cpuid1Data</key>
                <data></data>
                <key>Cpuid1Mask</key>
                <data></data>
                <key>DummyPowerManagement</key>
                <false/>
                <key>MaxKernel</key>
                <string></string>
                <key>MinKernel</key>
                <string></string>
            </dict>
            <key>Force</key>
            <array/>
            <key>Patch</key>
            <array>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string></string>
                    <key>Comment</key>
                    <string>Patch AppleSMC</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>c21jLXZlcnNpb24=</data>
                    <key>Identifier</key>
                    <string>com.apple.driver.AppleSMC</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>b2xkLXZlcnNpb24=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_apfs_filevault_allowed</string>
                    <key>Comment</key>
                    <string>Force FileVault on Broken Seal</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>com.apple.filesystems.apfs</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>20.4.0</string>
                    <key>Replace</key>
                    <data>uAEAAADD</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_early_random</string>
                    <key>Comment</key>
                    <string>SurPlus v1 - PART 1 of 2 - Patch read_erandom (inlined in _early_random)</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>AHQjSIs=</data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>800</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string>21.1.0</string>
                    <key>MinKernel</key>
                    <string>20.4.0</string>
                    <key>Replace</key>
                    <data>AOsjSIs=</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_register_and_init_prng</string>
                    <key>Comment</key>
                    <string>SurPlus v1 - PART 2 of 2 - Patch register_and_init_prng</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>ukgBAAAx9g==</data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>256</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string>21.1.0</string>
                    <key>MinKernel</key>
                    <string>20.4.0</string>
                    <key>Replace</key>
                    <data>ukgBAADrBQ==</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string></string>
                    <key>Comment</key>
                    <string>Foxbox Orinoco Auto Select</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>AAQAAAQDAAAAAQEBAAAAABIEBgEAAAAAAAQAAAQDAAAAAQIBAAAAACIFBAMAAAAAAAgAAAQCAAAAAQMAAAAAABECAQIAAAAAAAgAAAQCAAAAAQQAAAAAACEDBQQAAAAABAAAAAQAAAAAAQUAAAAAAAAAAwYAAAAA</data>
                    <key>Identifier</key>
                    <string>com.apple.kext.AMD9500Controller</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string>21.1.1</string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>AAQAAAQDAAAAAQABAAAAABIEBgEAAAAAAAQAAAQDAAAAAQABAAAAACIFBAMAAAAAAAQAAAQDAAAAAQABAAAAABECAQIAAAAAAAgAAAQCAAAAAQAAAAAAACEDBQQAAAAABAAAAAQCAAAAAQAAAAAAAAAAAwYAAAAA</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string></string>
                    <key>Comment</key>
                    <string>ATY,Berbice Auto Select</string>
                    <key>Count</key>
                    <integer>1</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data>AgAAAAABAAA5BQEIAAAAACABAQEAAAAAAAQAAAABAAAAAQJDMAAAABAAAgIAAAAAAAQAAAABAAAAAQMTIAAAACEDAwMAAAAAAAQAAAABAAAAAQRTUAAAABECBAQAAAAAAAQAAAABAAAAAQUzQAAAABIEBQUAAAAA</data>
                    <key>Identifier</key>
                    <string>com.apple.kext.AMD9500Controller</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string>21.1.0</string>
                    <key>MinKernel</key>
                    <string></string>
                    <key>Replace</key>
                    <data>AgAAAAABAAA5BQAIAAAAACABAQEAAAAAAAQAAAABAAAAAQBDMAAAABAAAgIAAAAAAAQAAAABAAAAAQATIAAAACEDAwMAAAAAAAQAAAABAAAAAQBTUAAAABECBAQAAAAAAAQAAAABAAAAAQAzQAAAABIEBQUAAAAA</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
                <dict>
                    <key>Arch</key>
                    <string>x86_64</string>
                    <key>Base</key>
                    <string>_cs_require_lv</string>
                    <key>Comment</key>
                    <string>Disable Library Validation Enforcement</string>
                    <key>Count</key>
                    <integer>0</integer>
                    <key>Enabled</key>
                    <true/>
                    <key>Find</key>
                    <data></data>
                    <key>Identifier</key>
                    <string>kernel</string>
                    <key>Limit</key>
                    <integer>0</integer>
                    <key>Mask</key>
                    <data></data>
                    <key>MaxKernel</key>
                    <string></string>
                    <key>MinKernel</key>
                    <string>20.0.0</string>
                    <key>Replace</key>
                    <data>uAAAAADD</data>
                    <key>ReplaceMask</key>
                    <data></data>
                    <key>Skip</key>
                    <integer>0</integer>
                </dict>
            </array>
            <key>Quirks</key>
            <dict>
                <key>AppleCpuPmCfgLock</key>
                <false/>
                <key>AppleXcpmCfgLock</key>
                <false/>
                <key>AppleXcpmExtraMsrs</key>
                <false/>
                <key>AppleXcpmForceBoost</key>
                <false/>
                <key>CustomPciSerialDevice</key>
                <false/>
                <key>CustomSMBIOSGuid</key>
                <false/>
                <key>DisableIoMapper</key>
                <false/>
                <key>DisableLinkeditJettison</key>
                <true/>
                <key>DisableRtcChecksum</key>
                <false/>
                <key>ExtendBTFeatureFlags</key>
                <false/>
                <key>ExternalDiskIcons</key>
                <false/>
                <key>ForceAquantiaEthernet</key>
                <false/>
                <key>ForceSecureBootScheme</key>
                <false/>
                <key>IncreasePciBarSize</key>
                <false/>
                <key>LapicKernelPanic</key>
                <false/>
                <key>LegacyCommpage</key>
                <false/>
                <key>PanicNoKextDump</key>
                <true/>
                <key>PowerTimeoutKernelPanic</key>
                <false/>
                <key>ProvideCurrentCpuInfo</key>
                <false/>
                <key>SetApfsTrimTimeout</key>
                <integer>-1</integer>
                <key>ThirdPartyDrives</key>
                <false/>
                <key>XhciPortLimit</key>
                <true/>
            </dict>
            <key>Scheme</key>
            <dict>
                <key>CustomKernel</key>
                <false/>
                <key>FuzzyMatch</key>
                <true/>
                <key>KernelArch</key>
                <string>Auto</string>
                <key>KernelCache</key>
                <string>Auto</string>
            </dict>
        </dict>
    </dict>
</plist>
